<div class="container">
     <mat-toolbar>
          <a routerLink=""><img class="logo" [src]="logo"></a>
          <div class="screens">

               <a mat-button routerLink="" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">Accueil</a>
               <a mat-button routerLink="listPatients" routerLinkActive="active">Patients</a>
          </div>

          <div class="my-name">
               <h4>Eudoxie</h4>
          </div>
     </mat-toolbar>
</div>