<div class="container">
  <div class="split left">
    <div class="split-paragraph">
      <h4 class="title-paragraph">A PROPOS</h4>
      <h2 class="text-societe">Notre société</h2>
      <p>
        Notre société est leader de son secteur en France et poursuit
        son développement à l’international.
        Nous associons recherche technologique et innovation avec pour objectif principal la satisfaction de nos
        clients.
      </p>

      <p class="text-description">
        <strong>ORQUAL</strong> vous propose une gamme complète de logiciels répondant aux besoins de votre cabinet et
        intégrant
        l’intelligence articificielle (IA) :<br>
      </p>

      <ul>
        <li><strong>ORTHALIS</strong> : La gestion de votre cabinet</li>
        <li><strong>CEPH</strong> : Le logiciel de céphalométrie (IA)</li>
        <li> <strong>KITVIEW</strong> : Mieux communiquer grâce à la photo numérique (IA)</li>
        <li><strong>ORQUAL BOX</strong> : Votre informatique dématérialisée</li>
        <li><strong>AERO RD </strong> L’aérophonoscope</li>
        <li><strong>DENTALIS</strong> : Le module omni-pratique</li>
      </ul>
    </div>

  </div>

  <div class="split right">

    <div class="split-paragraph">
      <h4 class="title-paragraph">ÉDITEURS DE LOGICIELS D'ORTHODONTIE</h4>
      <h1 class="orqual-text">Groupe Orqual</h1>
      <p class="orqual-text-description">Le groupe Orqual, éditeur de <strong>logiciel d’Orthodontie</strong>
        vous offre une gamme de produits associant technologie
        et innovation pour votre gestion et la satisfaction de
        vos patients.</p>
    </div>

  </div>
</div>